<h3>{{title}}</h3>
<div class="drag-drop" [(dragulaModel)]="dragingStages" dragula="test1" fxLayout="row">
  <div class="flex" *ngFor="let dragStage of dragingStages; let i =index; last as isLast">
    <div class="container" id="{{dragStage.id}}" [(dragulaModel)]="dragStage.driversList" dragula="innerDisplay">
      <div class="vamp" [ngClass]="{'container-grab effect7': true}" *ngFor="let driver of dragStage.driversList">{{ driver.driverName }}</div>
    </div>
</div>
<!-- <router-outlet></router-outlet> -->
